<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
</head>
<meta charset="utf-8"/>
<body>
<div class="principal-container">
		<div th:replace="dashboard :: navigation">
		</div>
		<div class="main">
			<div th:replace="dashboard :: topbar">
			</div>
			<div class="content">
					<h2>EDITAR CLIENTE</h2>
					<div class="space"></div>
					<form id="videoEditForm" th:action="@{/video/update/}+${id}" th:object="${video}"  method="post" enctype="multipart/form-data">
						<div class="form-group">						
							<div class="row">
								<div class="col-6" align="center">
									<img id="imgfoto"  name="imgfoto" style="max-width: 100%;"  th:src="@{'/foto_video/' + *{portada}}" th:alt="*{portada}" />	
								</div>
								<div class="col-6">
										<label for="codigo" >TITULO</label>
									<div>
										<input class="form-control" type="text" onKeyUp="this.value=this.value.toUpperCase();"   name="titulo" id="titulo" th:field="*{titulo}">			
									</div>
									<div class="error" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
									<label for="codigo" >AÑO</label>
									<div>
										<input class="form-control" type="text" name="anio" id="anio" th:field="*{anio}">			
									</div>
									<div class="error" th:if="${#fields.hasErrors('anio')}" th:errors="*{anio}"></div>	
									<label for="codigo" >CANTIDAD</label>
									<div>
										<input class="form-control" type="text" name="cantidad" id="cantidad" th:field="*{cantidad}">			
									</div>
									<div class="error" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></div>
									<label for="codigo" >PRECIO</label>
									<div>
										<input class="form-control" type="number" name="precio" id="precio" th:field="*{precio}">			
									</div>
									<div class="error" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>						
									<label for="codigo" >FORMATO</label>
									<div>
										<select class="form-control" name="id_form" id="id_form"  th:path="id_form">
											<option th:each="item:${formatos}" th:selected="${item.id_formato}==*{formato.id_formato}" 
											th:value="${item.id_formato}"  th:text=${item.formato}>
										</select>	
									</div>
									<label for="codigo" >GENEROS</label>
									<div>
										<select class="form-control" multiple name="id_gen" id="id_gen"  th:path="id_genero">
											<option th:each="item:${generos}" th:value="${item.id_genero}"  
											th:selected="${#lists.contains(idGeneros,item.id_genero)}" th:text=${item.genero}>
										</select>	
									</div>
									<label for="codigo" >IDIOMAS</label>
									<div>
										<select class="form-control" multiple name="id_idi" id="id_idi"  th:path="id_idi">
											<option th:each="item:${idiomas}" th:value="${item.id_idioma}"  
											th:selected="${#lists.contains(idIdiomas,item.id_idioma)}" th:text=${item.idioma}>
										</select>	
									</div>
									<label for="codigo" >SELECCIONE PORTADA</label>
									<div>
										<input type="file" accept=".jpeg,.jpg"  name="fotoinput" id="fotoinput"class="form-control"  onchange="Validar(this);"/>
									</div>
								</div>							
							</div>
						  </div>							
						<div>			
							<a class="btn btn-info" href="#" onclick="confirmVideoEdit()"><i class="fa-solid fa-floppy-disk"></i> GUARDAR</a>
							<a class="btn btn-dark" th:href="@{/video/list}"><i class="fa-solid fa-arrow-rotate-left"></i> VOLVER</a>	
						</div>	
					</form>
			 </div>
		</div>
	</div>
		<script th:replace="dashboard :: script"></script>	
		<script>
			function confirmVideoEdit(){
				Swal.fire({
				  title: 'CONFIRMACIÓN',
				  text: "¿Desea guardar los cambios en este video?",
				  icon: 'question',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'SI',
				  cancelButtonText: 'NO'
				}).then((result) => {
				  if (result.isConfirmed) {
				    $('#videoEditForm').submit();
					localStorage.setItem("confirmVideoEdit",true);
				  }
				})
			}
	        function Validar(obj)
		    {
		        var uploadFile = obj.files[0];
		        if (!(/\.(jpg|jpeg)$/i).test(uploadFile.name)) {
		            Toast.fire({
		                    icon: 'error',
		                    title: 'El archivo a adjuntar no es una imagen de tipo jpg o jpeg'
		            })
		            $('#fotoinput').val("");
		            document.getElementById("imgfoto").style.display = "none";
		        }else{
		            var img = new Image();
		            Toast.fire({
                        icon: 'success',
                        title: 'Correctamente adjuntado'
                    })                                       
                    document.getElementById("imgfoto").style.display = "block";                 
		        }     
		        img.src = URL.createObjectURL(uploadFile);
		    } 
		    function readURL(input) {
		        if (input.files && input.files[0]) { //Revisamos que el input tenga contenido
		            var reader = new FileReader(); //Leemos el contenido
		            
		            reader.onload = function(e) { //Al cargar el contenido lo pasamos como atributo de la imagen de arriba
		                //document.getElementById("imgfirma").style.display = "block";
		                $('#imgfoto').attr('src', e.target.result);
		            }
		            
		            reader.readAsDataURL(input.files[0]);
		        }
		    }
		   
		    $("#fotoinput").change(function() { //Cuando el input cambie (se cargue un nuevo archivo) se va a ejecutar de nuevo el cambio de imagen y se verá reflejado.
			    readURL(this);		    	
		    });
		    
		    $("select.select-multiple").select2({
			  theme: "bootstrap4"
			});
			
			$('select.form-control').select2({
			  theme: "bootstrap4"
			});
		
		</script>
</body>

</html>