<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
</head>
<meta charset="utf-8"/>
<body>
<div class="principal-container">
		<div th:replace="dashboard :: navigation">
		</div>
		<div class="main">
			<div th:replace="dashboard :: topbar">
			</div>
			<div class="content">
					<h2>EDITAR CLIENTE</h2>
					<div class="space"></div>
					<form id="clienteEditForm" th:action="@{/cliente/update/}+${id}" th:object="${cliente}"  method="post" enctype="multipart/form-data">
						<div class="form-group">						
							<div class="row">
								<div class="col-5" align="center">
									<img id="imgfoto"  name="imgfoto" style="width: 100%; height:560px; background-color: #D3D7DC"  th:src="@{'/foto_cliente/' + *{foto}}" th:alt="*{foto}" />	
								</div>
								<div class="col-1">
								</div>
								<div class="col-6">
										<label for="codigo" >DNI</label>
										<div>
										<input disabled="true" class="form-control" type="text" name="dni" id="dni" th:field="*{dni}">			
										</div>
										<div class="error" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
										<label for="codigo" >NOMBRES</label>
										<div>
											<input class="form-control" type="text" onKeyUp="this.value=this.value.toUpperCase();"   name="nombres" id="nombres" th:field="*{nombres}">			
										</div>
										<div class="error" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></div>	
										<label for="codigo" >EDAD</label>
										<div>
											<input class="form-control" type="text" name="edad" id="edad" th:field="*{edad}">			
										</div>
										<div class="error" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></div>	
										<label for="codigo" >GENERO</label>
										<div>
											<select class="form-control"  name="genero" id="genero" th:field="*{genero}">
											  <option value="">---------------------------------- Seleccionar Genero ----------------------------------</option>
											  <option value="Hombre">Hombre</option>
											  <option value="Mujer">Mujer</option>
											</select>		
										</div>
										<div class="error" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
										<label for="codigo" >TELEFONO</label>
										<div>
											<input class="form-control" type="text" name="telefono" id="telefono" th:field="*{telefono}">			
										</div>
										<div class="error" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>	
										<label for="codigo" >URBANIZACION</label>
										<div>
											<!-- 
											<select class="form-control" name="id_urb" id="id_urb"  th:path="id_urb">
												<option th:each="item:${urbanizaciones}"  th:selected="${item.id_urbanizacion}==*{urbanizacion.id_urbanizacion}" th:value="${item.id_urbanizacion}"  th:text=${item.urbanizacion}>
											</select> -->
											
											<input type="text" class="form-control" id="urb" name="urb"
									     	th:value="${urb}" placeholder="Busca urbanizacion ......" aria-describedby="button-addon2">	
										</div>
											<label for="codigo" >DIRECCION</label>
										<div>
											<input class="form-control" type="text" onKeyUp="this.value=this.value.toUpperCase();"   name="direccion" id="direccion" th:field="*{direccion}">			
										</div>
										<div class="error" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>	
										<label for="codigo" >SELECCIONE FOTO</label>
										<div>
											<input type="file" accept=".jpeg,.jpg"  name="fotoinput" id="fotoinput"class="form-control"  th:value="*{foto}" onchange="Validar(this);"/>
										</div>
									</div>					
								</div>
							
							</div>
									
						<div>			
							<a class="btn btn-info" href="#" onclick="confirmClienteEdit()"><i class="fa-solid fa-floppy-disk"></i> GUARDAR</a>
							<a class="btn btn-dark" th:href="@{/cliente/list}"><i class="fa-solid fa-arrow-rotate-left"></i> VOLVER</a>	
						</div>	
					</form>
			 </div>
		</div>
	</div>
		<script th:replace="dashboard :: script"></script>	
		<script>
			function confirmClienteEdit(){
				Swal.fire({
				  title: 'CONFIRMACIÓN',
				  text: "¿Desea guardar los cambios en este cliente?",
				  icon: 'question',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'SI',
				  cancelButtonText: 'NO'
				}).then((result) => {
				  if (result.isConfirmed) {
					if(parseInt(document.getElementById("edad").value)<parseInt(18) || parseInt(document.getElementById("edad").value)>parseInt(70)){
						 Toast.fire({
			                    icon: 'error',
			                    title: 'La edad debe estar en el rango de 18 y 70 años'
			            })
					}else{
					    $('#clienteEditForm').submit();
						localStorage.setItem("confirmClienteEdit",true);
					}
				  }
				})
			}
	        function Validar(obj)
		    {
		        var uploadFile = obj.files[0];
		        if (!(/\.(jpg|jpeg)$/i).test(uploadFile.name)) {
		            Toast.fire({
		                    icon: 'error',
		                    title: 'El archivo a adjuntar no es una imagen de tipo jpg o jpeg'
		            })
		            $('#fotoinput').val("");
		            document.getElementById("imgfoto").style.display = "none";
		        }else{
		            var img = new Image();
		            Toast.fire({
                        icon: 'success',
                        title: 'Correctamente adjuntado'
                    })                                       
                    document.getElementById("imgfoto").style.display = "block";                 
		        }     
		        img.src = URL.createObjectURL(uploadFile);
		    } 
		    function readURL(input) {
		        if (input.files && input.files[0]) { //Revisamos que el input tenga contenido
		            var reader = new FileReader(); //Leemos el contenido
		            
		            reader.onload = function(e) { //Al cargar el contenido lo pasamos como atributo de la imagen de arriba
		                //document.getElementById("imgfirma").style.display = "block";
		                $('#imgfoto').attr('src', e.target.result);
		            }
		            
		            reader.readAsDataURL(input.files[0]);
		        }
		    }
		   
		    $("#fotoinput").change(function() { //Cuando el input cambie (se cargue un nuevo archivo) se va a ejecutar de nuevo el cambio de imagen y se verá reflejado.
			    readURL(this);		    	
		    }); 
		    
		    $(document).ready(function() {

				$("#urb").autocomplete({

					source : function(request, response) {
						$.ajax({
							url : "/urbanizacion/urbanizaciones/" + request.term,
							dataType : "json",
							data : {
								term : request.term
							},
							success : function(data) {
								response($.map(data, function(item) {
									return {
										value : item.urbanizacion,
										label : item.urbanizacion,
									};
								}));
							},
						});
					}		
				});
		    });
		
		</script>
</body>

</html>