<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
</head>
<meta charset="utf-8"/>
<body>
<div class="principal-container">
		<div th:replace="dashboard :: navigation">
		</div>
		<div class="main">
			<div th:replace="dashboard :: topbar">
			</div>
			<div class="content">
					<h2>CREAR FORMATO</h2>
					<div class="space"></div>
					<form id="formatoCreateForm" th:action="@{/formato/create}" th:object="${formato}"  method="post">
						<div class="form-group">
							<label for="codigo" >FORMATO</label>
							<div>
								<input class="form-control" type="text" name="formato"  onKeyUp="this.value=this.value.toUpperCase();"  id="formato" th:field="*{formato}">			
							</div>
							<div class="error" th:if="${#fields.hasErrors('formato')}" th:errors="*{formato}"></div>			
						</div>							
						<div>			
							<a class="btn btn-info" href="#" onclick="confirmFormatoCreate()"><i class="fa-solid fa-floppy-disk"></i> GUARDAR</a>
							<a class="btn btn-dark" th:href="@{/formato/list}"><i class="fa-solid fa-arrow-rotate-left"></i> VOLVER</a>	
						</div>	
					</form>
			</div>
		</div>
	</div>
	<script th:replace="dashboard :: script"></script>
	<script>		
		function confirmFormatoCreate(){
			Swal.fire({
			  title: 'CONFIRMACIÓN',
			  text: "¿Desea guardar este nuevo Formato?",
			  icon: 'question',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'SI',
			  cancelButtonText: 'NO'
			}).then((result) => {
			  if (result.isConfirmed) {
			    $('#formatoCreateForm').submit();
				localStorage.setItem("confirmFormatoCreate",true);
			  }
			})
		}
	</script>
</body>
</html>